* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins";
  font-style: normal;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1300px) {
  .container {
    max-width: 1280px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 415px;
  }
}

header {
  background: #1C1E53;
  color: #FFFFFF;
}
header .section-header {
  padding-top: 32px;
  padding-bottom: 30px;
}
header ul {
  gap: 32px;
  padding-right: 48px;
}
header ul a {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #BBBBCB;
}
header button {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 16px 48px;
  background: #1C1E53;
  border-color: #FFFFFF;
  border-radius: 41px;
  cursor: pointer;
}

.intro {
  background: #1C1E53;
  padding-top: 126px;
}
.intro h2 {
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
  color: #FFFFFF;
  padding-bottom: 24px;
}
.intro p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.7;
  padding-bottom: 48px;
}
.intro .intro-info__link {
  padding-bottom: 128px;
}
.intro a {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  margin-left: 40px;
}
.intro span {
  margin-left: 16px;
}
.intro button {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 16px 48px;
  background: #FCD980;
  border-radius: 41px;
  border: none;
  color: black;
  cursor: pointer;
}

.cards {
  background: #F4F6FC;
  padding-top: 128px;
}
.cards .section-cards .cards-text h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #282938;
  padding-bottom: 16px;
}
.cards .section-cards .cards-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  padding-bottom: 16px;
}
.cards .section-cards .cards-text a {
  color: #2405F2;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}
.cards .section-cards .cards-info {
  padding-bottom: 128px;
}
.cards .section-cards .cards-info .cards-info__first-row,
.cards .section-cards .cards-info .cards-info__second-row {
  padding-bottom: 48px;
}
.cards .section-cards .cards-info h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #282938;
  padding-top: 16px;
  padding-bottom: 8px;
}

.section-projects {
  margin-top: 128px;
}
.section-projects .projects-subtitle h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #282938;
}
.section-projects .projects-subtitle a {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
}
.section-projects .projects-images {
  margin-top: 64px;
}
.section-projects .projects-images .projects-image__big {
  background-image: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%), url(../images/Card.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section-projects .projects-images .projects-image__big h2 {
  padding-top: 312px;
  padding-left: 48px;
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}
.section-projects .projects-images .projects-image__big p {
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.8;
  padding-left: 48px;
  padding-bottom: 40px;
}
.section-projects .projects-images .projects-image__big a {
  font-size: 16px;
  line-height: 28px;
  color: #FCD980;
  padding-left: 48px;
  padding-bottom: 76px;
}
.section-projects .projects-images .projects-image__small {
  background-image: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%), url("../images/Rectangle 1313.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section-projects .projects-images .projects-image__small h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  padding-top: 129px;
  padding-left: 56px;
  padding-bottom: 10px;
}
.section-projects .projects-images .projects-image__small a {
  padding-left: 56px;
  padding-bottom: 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #FCD980;
}
@media (max-width: 767px) {
  .section-projects .projects-images .projects-image__small .projects-image__small-2 img {
    width: 95%;
  }
}
.section-projects .projects-images h2 {
  padding-top: 100px;
}

.features {
  background: #F4F6FC;
  margin-top: 128px;
  padding-bottom: 104px;
}
.features .section-features {
  display: flex;
  flex-direction: column;
}
.features .section-features .features-subtitle {
  padding-bottom: 47px;
  text-align: center;
}
.features .section-features .features-subtitle p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  padding-bottom: 12px;
  padding-top: 128px;
}
.features .section-features .features-subtitle h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #282938;
}
.features .section-features .features-cards {
  display: flex;
  flex-direction: column;
  margin-top: 47px;
}
.features .section-features .features-cards .features-cards__first-row,
.features .section-features .features-cards .features-cards__second-row {
  display: flex;
}
@media (max-width: 767px) {
  .features .section-features .features-cards .features-cards__first-row,
.features .section-features .features-cards .features-cards__second-row {
    display: flex;
    flex-direction: column;
  }
}
.features .section-features .features-cards .features-cards__first-row .cards-box,
.features .section-features .features-cards .features-cards__second-row .cards-box {
  background: #FFFFFF;
  margin-right: 32px;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .features .section-features .features-cards .features-cards__first-row .cards-box,
.features .section-features .features-cards .features-cards__second-row .cards-box {
    width: 100%;
  }
}
.features .section-features .features-cards .features-cards__first-row .cards-box img,
.features .section-features .features-cards .features-cards__second-row .cards-box img {
  padding-top: 58px;
  padding-left: 48px;
  padding-bottom: 22px;
}
.features .section-features .features-cards .features-cards__first-row .cards-box h2,
.features .section-features .features-cards .features-cards__second-row .cards-box h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #282938;
  padding-left: 48px;
  padding-bottom: 12px;
}
.features .section-features .features-cards .features-cards__first-row .cards-box p,
.features .section-features .features-cards .features-cards__second-row .cards-box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  padding-left: 48px;
  padding-bottom: 48px;
  padding-right: 32px;
}

.clients {
  background: #F4F6FC;
}
.clients h1 {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: #282938;
  padding-bottom: 16px;
}
.clients p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  padding-bottom: 192px;
}
.clients h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #282938;
  padding-bottom: 48px;
}

.info {
  margin-top: 128px;
}

.section-email {
  padding-top: 128px;
}
.section-email .email-info {
  background-image: url("../images/woman-writing-on-paper-3228878.png");
  background-repeat: no-repeat;
}
.section-email .email-info h1 {
  padding-top: 96px;
  padding-left: 96px;
  padding-bottom: 24px;
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
  color: #FFFFFF;
}
.section-email .email-info p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  padding-left: 96px;
  padding-bottom: 261px;
}
.section-email .email-contact {
  background: #1C1E53;
}
@media (max-width: 767px) {
  .section-email .email-contact {
    text-align: center;
  }
}
.section-email .email-contact h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
  padding-top: 96px;
  padding-left: 96px;
  padding-bottom: 16px;
}
.section-email .email-contact p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #F4F6FC;
  padding-left: 96px;
  padding-bottom: 40px;
}
.section-email .email-contact input {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 32px;
  margin-left: 96px;
  padding-right: 311px;
  margin-right: 96px;
  background-color: #1C1E53;
  border: 1.5px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .section-email .email-contact input {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 20px;
  }
}
.section-email .email-contact button {
  margin-left: 96px;
  padding: 16px 150px;
  background: #FCD980;
  border-radius: 41px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #1B1C2B;
  cursor: pointer;
}
@media (max-width: 767px) {
  .section-email .email-contact button {
    width: 50%;
    margin: 0;
  }
}
.section-email .email-contact a {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding-left: 190px;
}

.blog {
  margin-top: 128px;
}
.blog h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #282938;
}
.blog .blog-cards {
  margin-top: 64px;
}
@media (max-width: 767px) {
  .blog .blog-cards img {
    width: 95%;
  }
}
.blog .blog-cards p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  padding-top: 40px;
  padding-bottom: 16px;
}
.blog .blog-cards h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #282938;
  padding-bottom: 16px;
}
.blog .blog-cards h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  padding-bottom: 32px;
}
.blog .blog-cards a {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
}

.contact {
  background: #1C1E53;
  margin-top: 128px;
}
.contact .section-contact {
  align-items: center;
  padding-top: 104px;
}
.contact .section-contact .contact-logo {
  padding-top: 10px;
}
.contact .section-contact .contact-logo .contact-logo__info {
  background-color: #FCD980;
  width: 80%;
}
.contact .section-contact .contact-logo .contact-logo__info .logo-info__mail h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #282938;
  padding-top: 18px;
  padding-left: 37px;
}
.contact .section-contact .contact-logo .contact-logo__info .logo-info__mail a {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.8;
  padding-left: 37px;
  margin-bottom: 16px;
}
.contact .section-contact .contact-logo .contact-logo__info .logo-info__number h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #282938;
  padding-top: 17px;
  padding-left: 29px;
}
.contact .section-contact .contact-logo .contact-logo__info .logo-info__number address {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.8;
  padding-left: 29px;
}
.contact .section-contact .contact-logo p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.8;
  padding-top: 27px;
  width: 70%;
}
.contact .section-contact .contact-social {
  padding-top: 3%;
}
.contact .section-contact .contact-social h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
}
.contact .section-contact .contact-social p {
  padding-top: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #F4F6FC;
  opacity: 0.8;
  width: 65%;
  padding-bottom: 29px;
}
.contact .section-contact .contact-social a {
  color: #FFFFFF;
  padding-right: 27px;
}

footer {
  background: #FFFFFF;
  padding-top: 32px;
  padding-bottom: 32px;
}
footer .section-footer .footer-link h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
}
footer .section-footer nav ul {
  gap: 32px;
}
footer .section-footer nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
}

.about {
  padding-top: 128px;
}
.about .section-about__intro h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #282938;
  padding-bottom: 8px;
}
.about .section-about__intro h2 {
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
  color: #282938;
  padding-bottom: 31px;
}
.about .section-about__intro p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  color: #282938;
  opacity: 0.7;
  width: 70%;
}

.image {
  margin-top: 128px;
}
.image .section-about__image {
  background: #F4F5F5;
}
.image .section-about__image .image-subtitle p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  padding-top: 80px;
  padding-left: 79px;
  padding-bottom: 4px;
}
.image .section-about__image .image-title h2 {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: #282938;
  padding-left: 79px;
  padding-bottom: 16px;
}
.image .section-about__image .image-title p {
  padding-left: 79px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  padding-bottom: 80px;
}
.image .section-about__image .image-title .image-title__second {
  padding-right: 100px;
}
.image .section-about__image .image-photo img {
  width: 100%;
}

.info .section-about__info .about-info__subtitle h1 {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #282938;
  padding-bottom: 48px;
}
.info .section-about__info .about-info__text h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #282938;
  padding-top: 32px;
  padding-bottom: 8px;
}
.info .section-about__info .about-info__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  width: 90%;
}

.work {
  background: #EEF4FA;
  margin-top: 128px;
}
.work .section-about__work {
  padding-top: 128px;
}
.work .section-about__work .about-work__mission p {
  padding-right: 140px;
}
.work .section-about__work .about-work__vision {
  margin-top: 96px;
}
.work .section-about__work .about-work__vision img {
  padding-bottom: 128px;
}
.work .section-about__work .about-work__vision .work-vision__text {
  padding-left: 143px;
}
.work .section-about__work h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  padding-bottom: 16px;
}
.work .section-about__work h2 {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: #282938;
  padding-bottom: 16px;
}
.work .section-about__work p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
}

.about-cards .section-about__cards .about-cards__subtitle {
  margin-top: 128px;
  text-align: center;
  padding-bottom: 48px;
}
.about-cards .section-about__cards .about-cards__subtitle h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #282938;
}
.about-cards .section-about__cards .about-cards__info {
  gap: 32px;
  padding-bottom: 48px;
}
.about-cards .section-about__cards .about-cards__info img {
  padding-top: 50px;
  padding-left: 48px;
  padding-bottom: 26px;
}
.about-cards .section-about__cards .about-cards__info h2 {
  padding-left: 48px;
  padding-bottom: 12px;
}
.about-cards .section-about__cards .about-cards__info p {
  padding-left: 48px;
  padding-bottom: 48px;
  padding-right: 32px;
}
.about-cards .section-about__cards .about-cards__info .about-card {
  background: #F4F6FC;
}

.about-team {
  background: #F4F6FC;
  margin-top: 128px;
  padding-bottom: 128px;
}
.about-team .section-about__team {
  padding-top: 128px;
}
.about-team .section-about__team .about-team__subtitle {
  text-align: center;
}
.about-team .section-about__team .about-team__subtitle h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #282938;
}
.about-team .section-about__team .about-team__users {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding-top: 48px;
}
.about-team .section-about__team .about-team__users .about-team__users-john .about-team__users-social {
  background-image: linear-gradient(348.37deg, #5239FA 17.97%, rgba(255, 255, 255, 0) 79.2%), url("../images/images.about/john-smith");
  border-radius: 50%;
  width: 168px;
  height: 168px;
  margin-top: 48px;
  margin-left: 64px;
  margin-right: 64px;
}
.about-team .section-about__team .about-team__users .about-team__users-john .users-socials {
  display: flex;
  justify-content: center;
  padding-top: 127px;
  margin-left: 10px;
}
.about-team .section-about__team .about-team__users .about-team__users-john .users-social {
  padding-right: 11px;
  color: #FFFFFF;
}
.about-team .section-about__team .about-team__users .team-users {
  background: #FFFFFF;
}
.about-team .section-about__team .about-team__users .team-users h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #1D2130;
  padding-top: 30px;
}
.about-team .section-about__team .about-team__users .team-users p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1D2130;
  opacity: 0.7;
  text-align: center;
  padding-bottom: 32px;
}
.about-team .section-about__team .about-team__users img {
  padding-top: 48px;
  padding-left: 64px;
  padding-right: 64px;
}
.about-team .section-about__team .about-team__users img:hover {
  background-image: linear-gradient(348.37deg, #5239FA 17.97%, rgba(255, 255, 255, 0) 79.2%);
}

.intro-features {
  margin-top: 128px;
}
.intro-features .features-intro .features-intro__subtitle {
  text-align: center;
}
.intro-features .features-intro .features-intro__subtitle h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #282938;
  padding-bottom: 16px;
}
.intro-features .features-intro .features-intro__subtitle p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #282938;
  opacity: 0.7;
  padding-bottom: 64px;
}
.intro-features .features-intro .features-intro__info {
  gap: 32px;
}
.intro-features .features-intro .features-intro__info .features-intro__info-299, .intro-features .features-intro .features-intro__info .features-intro__info-499 {
  background: #F4F6FC;
  border-radius: 12px;
  width: 33%;
}
.intro-features .features-intro .features-intro__info .features-intro__info-299 h3, .intro-features .features-intro .features-intro__info .features-intro__info-499 h3 {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: #282938;
  padding-top: 64px;
  padding-left: 48px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.intro-features .features-intro .features-intro__info .features-intro__info-299 h3 span, .intro-features .features-intro .features-intro__info .features-intro__info-499 h3 span {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #2405F2;
  padding-left: 16px;
}
.intro-features .features-intro .features-intro__info .features-intro__info-299 h4, .intro-features .features-intro .features-intro__info .features-intro__info-499 h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #282938;
  padding-left: 48px;
  padding-bottom: 8px;
}
.intro-features .features-intro .features-intro__info .features-intro__info-299 p, .intro-features .features-intro .features-intro__info .features-intro__info-499 p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  padding-left: 48px;
  padding-right: 77px;
}
.intro-features .features-intro .features-intro__info .features-intro__info-299 button, .intro-features .features-intro .features-intro__info .features-intro__info-499 button {
  background: #282938;
  border-radius: 41px;
  padding: 16px 78px;
  border: none;
  margin-bottom: 62px;
  margin-left: 76px;
  color: #F4F6FC;
  cursor: pointer;
}
.intro-features .features-intro .features-intro__info .features-intro__info-299 .info-299__body, .intro-features .features-intro .features-intro__info .features-intro__info-299 .info-499__body, .intro-features .features-intro .features-intro__info .features-intro__info-499 .info-299__body, .intro-features .features-intro .features-intro__info .features-intro__info-499 .info-499__body {
  padding-top: 78px;
  display: flex;
  flex-direction: column;
  padding-bottom: 79px;
}
.intro-features .features-intro .features-intro__info .features-intro__info-299 .info-299__body i, .intro-features .features-intro .features-intro__info .features-intro__info-299 .info-499__body i, .intro-features .features-intro .features-intro__info .features-intro__info-499 .info-299__body i, .intro-features .features-intro .features-intro__info .features-intro__info-499 .info-499__body i {
  color: #97DAAD;
  padding-left: 48px;
  padding-bottom: 20px;
  cursor: pointer;
}
.intro-features .features-intro .features-intro__info .features-intro__info-299 .info-299__body i span, .intro-features .features-intro .features-intro__info .features-intro__info-299 .info-499__body i span, .intro-features .features-intro .features-intro__info .features-intro__info-499 .info-299__body i span, .intro-features .features-intro .features-intro__info .features-intro__info-499 .info-499__body i span {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  padding-left: 12px;
}
.intro-features .features-intro .features-intro__info .features-intro__info-399 {
  background: #1C1E53;
  border-radius: 12px;
  width: 33%;
}
.intro-features .features-intro .features-intro__info .features-intro__info-399 h3 {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: #FFFFFF;
  padding-top: 64px;
  padding-left: 48px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.intro-features .features-intro .features-intro__info .features-intro__info-399 h3 span {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FCD980;
  padding-left: 16px;
}
.intro-features .features-intro .features-intro__info .features-intro__info-399 h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  padding-left: 48px;
  padding-bottom: 8px;
}
.intro-features .features-intro .features-intro__info .features-intro__info-399 p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
  padding-left: 48px;
  color: #FFFFFF;
  padding-right: 77px;
}
.intro-features .features-intro .features-intro__info .features-intro__info-399 button {
  background: #FCD980;
  border-radius: 41px;
  padding: 16px 78px;
  border: none;
  margin-bottom: 62px;
  margin-left: 76px;
  cursor: pointer;
}
.intro-features .features-intro .features-intro__info .features-intro__info-399 .info-399__body {
  padding-top: 78px;
  display: flex;
  flex-direction: column;
  padding-bottom: 79px;
}
.intro-features .features-intro .features-intro__info .features-intro__info-399 .info-399__body i {
  color: #97DAAD;
  padding-left: 48px;
  padding-bottom: 20px;
  cursor: pointer;
}
.intro-features .features-intro .features-intro__info .features-intro__info-399 .info-399__body i span {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  padding-left: 12px;
}

.chat {
  padding-top: 128px;
}
.chat .section-chat__pricing h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  opacity: 0.87;
  margin-bottom: 16px;
}
.chat .section-chat__pricing h2 {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: #232536;
  padding-bottom: 16px;
}
.chat .section-chat__pricing p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.6;
}
.chat .section-chat__pricing .chat-client {
  padding-bottom: 128px;
}
.chat .section-chat__pricing .chat-client p {
  width: 90%;
}
.chat .section-chat__pricing .chat-free {
  background: #F4F6FC;
  width: 100%;
}
.chat .section-chat__pricing .chat-free .chat-free__image {
  padding: 128px 0;
}
.chat .section-chat__pricing .chat-free .chat-free__text {
  padding-left: 80px;
}
.intro-portfolio {
  background: #F4F6FC;
  padding-top: 128px;
}
.intro-portfolio .section-intro__portfolio {
  text-align: center;
}
.intro-portfolio .section-intro__portfolio h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
}
.intro-portfolio .section-intro__portfolio h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #282938;
  padding-bottom: 24px;
}
.intro-portfolio .section-intro__portfolio p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  padding-bottom: 32px;
}
.intro-portfolio .section-intro__portfolio .intro-portfolio__social {
  padding-bottom: 96px;
}
.intro-portfolio .section-intro__portfolio .intro-portfolio__social a {
  padding-right: 27px;
  color: #282938;
}

.image__portfolio {
  padding-top: 96px;
}
.image__portfolio .section-image__portfolio .image__portfolio-subtitle {
  text-align: center;
  padding-bottom: 48px;
}
.image__portfolio .section-image__portfolio .image__portfolio-subtitle a {
  padding-right: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #282938;
  opacity: 0.7;
}
.image__portfolio .section-image__portfolio .image__portfolio-subtitle a:hover {
  color: #2405F2;
}
.image__portfolio .section-image__portfolio .image__portfolio-info div {
  padding-right: 30px;
}
.image__portfolio .section-image__portfolio .image__portfolio-info div h2 {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: #282938;
  padding-top: 20px;
}
.image__portfolio .section-image__portfolio .image__portfolio-info div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  color: #282938;
  opacity: 0.7;
  padding-bottom: 24px;
}
.image__portfolio .section-image__portfolio .image__portfolio-info img {
  width: 100%;
}
.image__portfolio .section-image__portfolio .image__portfolio-info .portfolio-info__tamplate-3, .image__portfolio .section-image__portfolio .image__portfolio-info .portfolio-info__tamplate-4, .image__portfolio .section-image__portfolio .image__portfolio-info .portfolio-info__tamplate-5, .image__portfolio .section-image__portfolio .image__portfolio-info .portfolio-info__tamplate-6 {
  padding-top: 64px;
}

.build-portfolio {
  text-align: center;
  margin-top: 128px;
}
.build-portfolio h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #282938;
  padding-bottom: 20px;
}
.build-portfolio p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #282938;
  opacity: 0.7;
  padding-bottom: 40px;
}
.build-portfolio button {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 16px 48px;
  background: #FCD980;
  border-radius: 41px;
  border: none;
  color: black;
  cursor: pointer;
}

.design {
  max-width: 62%;
}

.intro-design {
  padding-top: 128px;
}
.intro-design .section-intro__design .design-subtitle h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #282938;
  opacity: 0.8;
  padding-bottom: 12px;
}
.intro-design .section-intro__design .design-subtitle h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #282938;
  padding-bottom: 16px;
  width: 50%;
}
.intro-design .section-intro__design .design-subtitle p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  width: 64%;
  padding-bottom: 48px;
}
.intro-design .section-intro__design .design-image img {
  max-width: 100%;
}
.intro-design .section-intro__design .desing-info {
  padding-top: 48px;
  padding-bottom: 32px;
}
.intro-design .section-intro__design .desing-info p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.8;
}
.intro-design .section-intro__design .desing-info a {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #282938;
}
.intro-design .section-intro__design hr {
  opacity: 0.3;
}

.design-about {
  max-width: 50%;
}

.section-about__design {
  display: flex;
  flex-direction: column;
}
.section-about__design h2 {
  padding-top: 95px;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: #282938;
}
.section-about__design p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  padding-bottom: 24px;
}
.section-about__design ul {
  text-align: start;
  padding-bottom: 64px;
  padding-left: 17px;
}
.section-about__design ul li {
  list-style: circle;
  padding-bottom: 16px;
}
.section-about__design .about-design__links {
  display: flex;
  border: 1px solid #282938;
  border-width: 100%;
  border-left: none;
  border-right: none;
}
.section-about__design .about-design__links h3 {
  padding: 26px;
}
.section-about__design .about-design__links h3:hover {
  color: #2405F2;
  cursor: pointer;
}
.section-about__design .about-design__button {
  text-align: center;
  padding-top: 128px;
}
.section-about__design .about-design__button h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #282938;
}
.section-about__design .about-design__button p {
  padding: 20px;
}
.section-about__design .about-design__button button {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 16px 48px;
  background: #FCD980;
  border-radius: 41px;
  border: none;
  color: black;
  cursor: pointer;
}

.into__blog {
  padding-top: 128px;
}
.into__blog .section-intro__blog {
  text-align: center;
}
.into__blog .section-intro__blog h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #282938;
}
.into__blog .section-intro__blog h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.87;
  padding-bottom: 30px;
}
.into__blog .section-intro__blog img {
  max-width: 100%;
  padding-bottom: 48px;
}
.into__blog .section-intro__blog p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf");
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .section-header {
    display: flex;
    flex-direction: column;
  }
}
.section-header .burger-menu {
  display: none;
}
@media (max-width: 767px) {
  .section-header .burger-menu {
    display: inline-block;
  }
}
.section-header nav {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .section-header nav {
    display: block;
  }
}
@media (max-width: 767px) {
  .section-header nav {
    display: none;
  }
}
.section-header nav ul {
  display: flex;
}
@media (max-width: 992px) {
  .section-header nav ul li {
    display: block;
  }
}

.section-intro {
  display: flex;
}
@media (max-width: 767px) {
  .section-intro {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .section-intro .intro-info h2 {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .section-intro .intro-info p {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .section-intro .intro-info .intro-info__link {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .section-intro .intro-info .intro-info__link button {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .section-intro img {
    max-width: 90%;
    padding-bottom: 50px;
  }
}

.section-cards {
  display: flex;
}
@media (max-width: 767px) {
  .section-cards {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.section-cards .cards-text {
  flex: 1;
}
@media (max-width: 767px) {
  .section-cards .cards-text {
    padding-bottom: 50px;
  }
}
.section-cards .cards-info {
  display: flex;
  flex: 1;
}
@media (max-width: 767px) {
  .section-cards .cards-info {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
  }
}

.section-projects {
  display: flex;
  flex-direction: column;
}
.section-projects .projects-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .section-projects .projects-subtitle {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.section-projects .projects-images {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .section-projects .projects-images {
    display: flex;
    flex-direction: column;
  }
}
.section-projects .projects-images .projects-image__big {
  flex-basis: 65%;
}
.section-projects .projects-images .projects-image__small {
  display: flex;
  flex-direction: column;
}

.clients .section-client {
  display: flex;
}
@media (max-width: 767px) {
  .clients .section-client {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.clients .section-client .client-info {
  width: 80%;
}
@media (max-width: 767px) {
  .clients .section-client .client-info {
    width: 100%;
  }
}
.clients .section-client .client-info .client-info__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients .section-client .client-info .client-info__link .client-info__link-user {
  display: flex;
}
.clients .section-client .client-info .client-info__link .client-info__link-arrow img {
  padding-left: 46px;
}
.clients .section-client .client-info .client-info__link .client-info__link-arrow .left {
  background: #5239FA;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.section-info {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .section-info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.section-info .info-title h1 {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: #282938;
  padding-bottom: 16px;
}
.section-info .info-title a {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #2405F2;
  opacity: 0.87;
}
.section-info .info-plus {
  display: flex;
  flex-direction: column;
  width: 60%;
}
@media (max-width: 767px) {
  .section-info .info-plus {
    width: 100%;
  }
}
.section-info .info-plus .link {
  display: flex;
  justify-content: space-around;
  padding: 32px 0;
}
.section-info .info-plus .link a {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #2405F2;
}
.section-info .info-plus .link h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #282938;
}

.section-email {
  display: flex;
  flex-basis: 50%;
}
@media (max-width: 767px) {
  .section-email {
    display: flex;
    flex-direction: column;
  }
}
.section-email .email-info {
  flex: 1;
}
.section-email .email-contact {
  flex: 1;
}

.blog .blog-cards {
  display: flex;
}
@media (max-width: 767px) {
  .blog .blog-cards {
    display: flex;
    flex-direction: column;
  }
}

.contact .section-contact {
  display: flex;
  flex-basis: 50%;
}
@media (max-width: 767px) {
  .contact .section-contact {
    display: flex;
    flex-direction: column;
  }
}
.contact .section-contact .contact-logo {
  flex: 1;
}
.contact .section-contact .contact-logo .contact-logo__info {
  display: flex;
}
.contact .section-contact .contact-social {
  flex: 1;
}

footer .section-footer {
  display: flex;
  flex-basis: 50%;
}
@media (max-width: 767px) {
  footer .section-footer {
    display: flex;
    flex-direction: column;
  }
}
footer .section-footer .footer-link {
  flex: 1;
}
@media (max-width: 767px) {
  footer .section-footer .footer-link {
    text-align: center;
  }
}
footer .section-footer nav ul {
  display: flex;
  flex: 1;
}
@media (max-width: 767px) {
  footer .section-footer nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.about .section-about__intro {
  display: flex;
}

.section-about__image {
  display: flex;
  flex-direction: column;
}
.section-about__image .image-title {
  display: flex;
}

.info .section-about__info {
  display: flex;
  flex-direction: column;
}
.info .section-about__info .about-info__text {
  display: flex;
}

.work .section-about__work {
  display: flex;
  flex-direction: column;
}
.work .section-about__work .about-work__mission {
  display: flex;
  align-items: center;
}
.work .section-about__work .about-work__vision {
  display: flex;
  align-items: center;
}

.about-cards .section-about__cards {
  display: flex;
  flex-direction: column;
}
.about-cards .section-about__cards .about-cards__info {
  display: flex;
}
.about-cards .section-about__cards .about-cards__logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro-features .features-intro .features-intro__info {
  display: flex;
}

.chat .section-chat__pricing {
  display: flex;
  flex-direction: column;
}
.chat .section-chat__pricing .chat-client, .chat .section-chat__pricing .chat-free, .chat .section-chat__pricing .chat-work,
.chat .section-chat__pricing .chat-delivery {
  display: flex;
  align-items: center;
}

.image__portfolio .section-image__portfolio {
  display: flex;
  flex-direction: column;
}
.image__portfolio .section-image__portfolio .image__portfolio-info {
  display: flex;
}

.section-intro__design {
  display: flex;
  flex-direction: column;
}
.section-intro__design .desing-info {
  display: flex;
}
.section-intro__design .desing-info {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */